* {
  padding: 0;
  margin: 0;
  font-family: "Croissant One", serif;
}

.title {
  padding: 30px;
}

.title h1 {
  color: #394156;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 1.8em;
  font-size: 52px;
}
.card-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
}

.img-sec img {
  width: 300px;
  height: 250px;
  border-radius: 2px;
}

.main-card {
  /* border: 2px solid black; */
  height: 490px;
  width: 300px;
  margin: 20px;
  margin-left: 100px;
  margin-right: 30px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.main-card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.desc {
  line-height: 2rem;
}

.desc p {
  background-color: #39415653;
  border-radius: 15px;
  font-size: 22px;
  text-align: center;
  width: 105px;
  margin-left: 100px;
}

.desc p:hover {
  color: white;
  background-color: #7c84b1;
  transition: all 0.2s ease-in-out;
}

.desc h6 {
  text-align: left;
}

.desc h2 {
  text-align: center;
}

.desc h5 {
  margin-left: 20px;
}
